@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class=" col-md-12">
    <h1 class="text-center bg-info " >بریښنالیک واستول شو.</h1>

</div>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row" style="justify-content:center">
                    <div class="col-md-7">
                        <h2>
                             د مهربانی له مخې خپل بریښنالیک چیک کړی تر څو مو پټ نوم تغیر کړی. 
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
