@model ResetPasswordViewModel
@{
    ViewData["Title"] = "پټ نوم بدلول";
    Layout = null;
}

<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="rtl">
<head>

    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/vendors.css">
   
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/app.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/custom-rtl.css">
    
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css-rtl/pages/login-register.css">
  
    <link rel="stylesheet" type="text/css" href="~/assets/css/style-rtl.css">

</head>

<body class="vertical-layout vertical-menu 1-column  mt-5  menu-expanded blank-page blank-page"
      data-open="click" data-menu="vertical-menu" data-col="1-column">
    <div class="row">

        <div class=" col-md-12">
            <h2 class="text-center alert bg-info ">@ViewData["Title"]</h2>
        </div>

    </div>
    <hr />

    <div class="card row">
        <div class="col-md-4 offset-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control round border" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control round border" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mb-2 round border" >ذخیره</button>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
