<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>$("#remainwithBanks").addClass("active")</script>
<style>
    .dt-buttons {
        float: left;
    }
</style>

<div class="card p-0 m-0" id="purchaseList">
    <div class="card-header ">
        <h2 class="text-center alert bg-yellow bg-darken-2 box-shadow-1" style="background-color:#ffffff;">د بانک / صراف  حساب لیست </h2>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <ul class="nav nav-tabs nav-top-border no-hover-bg">
                        <li class="nav-item">
                            <a class="nav-link active" id="baseIcon-tab11" data-toggle="tab" aria-controls="tabIcon11" href="#tabIcon11" aria-expanded="true"><i class="fa fa-money"></i> افغانۍ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="baseIcon-tab12" data-toggle="tab" aria-controls="tabIcon12" href="#tabIcon12" aria-expanded="false"><i class="fa fa-money"></i> کلدارې</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="baseIcon-tab13" data-toggle="tab" aria-controls="tabIcon13" href="#tabIcon13" aria-expanded="false"><i class="fa fa-money"></i> ډالر</a>
                        </li>
                    </ul>
                    <div class="tab-content  pt-1">
                        <div role="tabpanel" class="tab-pane active" id="tabIcon11" aria-expanded="true" aria-labelledby="baseIcon-tab11">
                            <div class="text-center">
                                <h2>افغانۍ حساب لیست</h2>
                                <table class="table table-responsive-md table-bordered dataex-fixh-basic dataTable" id="tblaf">
                                    <thead>
                                        <tr role="row">
                                            <th>#</th>
                                            <th>بانک / صراف</th>
                                            <th>موبایل</th>
                                            <th>آدرس</th>
                                            <th>پیسو ډول</th>
                                            <th>باقې</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1" dir='ltr'></th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane " id="tabIcon12" aria-labelledby="baseIcon-tab12">
                            <div class="text-center">
                                <h2>کلدارو حساب لیست</h2>
                                <table class="table table-responsive-md  table-bordered dataex-fixh-basic dataTable" id="tblpk">
                                    <thead>
                                        <tr role="row">
                                            <th>#</th>
                                            <th>بانک / صراف</th>
                                            <th>موبایل</th>
                                            <th>آدرس</th>
                                            <th>پیسو ډول</th>
                                            <th>باقې</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1" dir='ltr'></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane " id="tabIcon13" aria-labelledby="baseIcon-tab3">
                            <div class="text-center">
                                <h2>ډالرو حساب لیست</h2>
                                <table class="table table-responsive-md  table-bordered dataex-fixh-basic dataTable" id="tblus">
                                    <thead>
                                        <tr role="row">
                                            <th>#</th>
                                            <th>بانک / صراف</th>
                                            <th>موبایل</th>
                                            <th>آدرس</th>
                                            <th>پیسو ډول</th>
                                            <th>باقې</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1"></th>
                                            <th rowspan="1" colspan="1" dir='ltr'></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () {
            dealers();
        })
        function dealers() {
            $.ajax({
                url: '/Deal/TotalRemainBank/',
                type: 'POST',
                contentType: "application/json",
                datatype: "JSON",
                success: function (result) {
                    var af = "";
                    var pk = "";
                    var us = "";
                    $.each(result.af, function (i, col) {
                        if (col.balance != 0) {
                            af += "  <tr> ";
                            af += "      <td>" + (i + 1) + "</td> ";
                            af += "      <td>" + col.name + "</td> ";
                            af += "      <td>" + col.phone + "</td> ";
                            af += "      <td>" + col.address + "</td> ";
                            af += "      <td>افغانۍ</td> ";
                            af += "      <td dir='ltr'>" + parseFloat(col.balance).toFixed(2) + "</td> ";
                            af += "  </tr>";
                        }
                    });
                    $.each(result.pk, function (i, col) {
                        if (col.balance != 0) {

                            pk += "  <tr> ";
                            pk += "      <td>" + (i + 1) + "</td> ";
                            pk += "      <td>" + col.name + "</td> ";
                            pk += "      <td>" + col.phone + "</td> ";
                            pk += "      <td>" + col.address + "</td> ";
                            pk += "      <td>کلدارې</td> ";
                            pk += "      <td dir='ltr'>" + parseFloat(col.balance).toFixed(2) + "</td> ";
                            pk += "  </tr>";
                        }
                    });
                    $.each(result.us, function (i, col) {
                        if (col.balance != 0) {

                            us += "  <tr> ";
                            us += "      <td>" + (i + 1) + "</td> ";
                            us += "      <td>" + col.name + "</td> ";
                            us += "      <td>" + col.phone + "</td> ";
                            us += "      <td>" + col.address + "</td> ";
                            us += "      <td>ډالر</td> ";
                            us += "      <td dir='ltr'>" + parseFloat(col.balance).toFixed(3) + "</td> ";
                            us += "  </tr>";
                        }
                    });
                    var table = $("#tblaf").dataTable();
                    table.fnDestroy();
                    var table = $("#tblpk").dataTable();
                    table.fnDestroy();
                    var table = $("#tblus").dataTable();
                    table.fnDestroy();

                    $("#tblaf>tbody").html("").html(af);
                    $("#tblaf").DataTable({
                        "footerCallback": function (row, data, start, end, display) {
                            var api = this.api(),
                                data;

                            // Remove the formatting to get integer data for summation
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                        i : 0;
                            };

                            // Total over all pages
                            total = api
                                .column(5)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Total over this page
                            pageTotal = api
                                .column(5, {
                                    page: 'current'
                                })
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Update footer
                            $(api.column(5).footer()).html(
                                '(' + parseFloat(pageTotal).toFixed(2) + ' ټوټل)'
                            );
                        },
                        dom: 'Blfrtip', buttons: [
                            { extend: 'print', footer: true },
                            { extend: 'excel', footer: true },
                            { extend: 'copy', footer: true },
                        ],
                        stateSave: true,
                        responsive: true,
                        "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "ټول"]],
                        "pageLength": 5,
                        "language": {
                            "emptyTable": "په جدول کې معلومات شتون نه لري",
                            "info": "د <b>( _START_  )</b> تر <b>( _END_  )</b> د <b>( _TOTAL_ )</b> ریکاروډونو څخه.",
                            "infoFiltered": "( <b>( _MAX_ )</b> ریکارډونه شتون لرې )",
                            "infoPostFix": "",

                            "lengthMenu": "ښودل_MENU_ ریکارډونو",
                            "search": "پلټنه<span id='tblSearch' class='fa fa-search'></span> ",
                            "searchPlaceholder": "پلټنه",
                            "zeroRecords": "پدی نوم هیڅ ریکارډ پیدا نشو ",
                            "paginate": {
                                "first": "لومړۍ پاڼه",
                                "previous": "مخکې",
                                "next": "وروسته",
                                "last": "پای"
                            },
                        },
                    });

                    $("#tblpk>tbody").html("").html(pk);
                    $("#tblpk").DataTable({
                        "footerCallback": function (row, data, start, end, display) {
                            var api = this.api(),
                                data;

                            // Remove the formatting to get integer data for summation
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                        i : 0;
                            };

                            // Total over all pages
                            total = api
                                .column(5)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Total over this page
                            pageTotal = api
                                .column(5, {
                                    page: 'current'
                                })
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Update footer
                            $(api.column(5).footer()).html(
                                '(' + parseFloat(pageTotal).toFixed(2) + ' ټوټل)'
                            );
                        },
                        dom: 'Blfrtip', buttons: [
                            { extend: 'print', footer: true },
                            { extend: 'excel', footer: true },
                            { extend: 'copy', footer: true },
                        ],
                        responsive: true,
                        stateSave: true,
                        "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "ټول"]],
                        "pageLength": 5,
                        "language": {
                            "emptyTable": "په جدول کې معلومات شتون نه لري",
                            "info": "د <b>( _START_  )</b> تر <b>( _END_  )</b> د <b>( _TOTAL_ )</b> ریکاروډونو څخه.",
                            "infoFiltered": "( <b>( _MAX_ )</b> ریکارډونه شتون لرې )",
                            "infoPostFix": "",

                            "lengthMenu": "ښودل_MENU_ ریکارډونو",
                            "search": "پلټنه<span id='tblSearch' class='fa fa-search'></span> ",
                            "searchPlaceholder": "پلټنه",
                            "zeroRecords": "پدی نوم هیڅ ریکارډ پیدا نشو ",
                            "paginate": {
                                "first": "لومړۍ پاڼه",
                                "previous": "مخکې",
                                "next": "وروسته",
                                "last": "پای"
                            },
                        },
                    });

                    $("#tblus>tbody").html("").html(us);
                    $("#tblus").DataTable({
                        "footerCallback": function (row, data, start, end, display) {
                            var api = this.api(),
                                data;

                            // Remove the formatting to get integer data for summation
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                        i : 0;
                            };

                            // Total over all pages
                            total = api
                                .column(5)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Total over this page
                            pageTotal = api
                                .column(5, {
                                    page: 'current'
                                })
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);

                            // Update footer
                            $(api.column(5).footer()).html(
                                '(' + parseFloat(pageTotal).toFixed(2) + ' ټوټل)'
                            );
                        },
                        dom: 'Blfrtip', buttons: [
                            { extend: 'print', footer: true },
                            { extend: 'excel', footer: true },
                            { extend: 'copy', footer: true },
                        ],
                        responsive: true,
                        stateSave: true,
                        "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "ټول"]],
                        "pageLength": 5,
                        "language": {
                            "emptyTable": "په جدول کې معلومات شتون نه لري",
                            "info": "د <b>( _START_  )</b> تر <b>( _END_  )</b> د <b>( _TOTAL_ )</b> ریکاروډونو څخه.",
                            "infoFiltered": "( <b>( _MAX_ )</b> ریکارډونه شتون لرې )",
                            "infoPostFix": "",

                            "lengthMenu": "ښودل_MENU_ ریکارډونو",
                            "search": "پلټنه<span id='tblSearch' class='fa fa-search'></span> ",
                            "searchPlaceholder": "پلټنه",
                            "zeroRecords": "پدی نوم هیڅ ریکارډ پیدا نشو ",
                            "paginate": {
                                "first": "لومړۍ پاڼه",
                                "previous": "مخکې",
                                "next": "وروسته",
                                "last": "پای"
                            },
                        },
                    });

                    $(".buttons-print").text("").html("<i class='ft-printer'></i>");
                    $(".buttons-copy").text("").html("<i class='ft-copy'></i>");
                    $(".buttons-excel").text("").html("<i class='fa fa-file-excel-o'></i>");
                    $('.buttons-copy, .buttons-print, .buttons-excel').addClass('btn btn-primary ');

                }
            })
        }
    </script>
}
