@model ChangePasswordViewModel



<div class="card border-primary col-md-6 offset-md-3 pt-2 mt-2">
    <div class="col-md-12 container" style="justify-content:center">
        <h2 class="text-center alert bg-yellow bg-darken-2 box-shadow-1" style="background-color:rgb(231, 225, 246);">پټ نوم بدلولو فارم</h2>
        <hr>
    </div>
    @if (ViewBag.Alert != "empty")
    {
        <div class="alert alert-success alert-dismissible" role="alert" id="divAlert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @ViewBag.Alert
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    }
<div class="p-3">
    <form method="post">
        <div class="form-group">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword"></label>
            <div class="input-group">
                <input asp-for="NewPassword" class="form-control" placeholder="نوی پټ نوم" aria-describedby="basic-addon4">
                <div class="input-group-append">
                    <span class="input-group-text" id="firstPass" style="cursor:pointer"><i class="ft-eye"></i></span>
                </div>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <div class="input-group">

                <input asp-for="ConfirmPassword" class="form-control" placeholder="نوې پټ نوم تایدې" aria-describedby="basic-addon4">
                <div class="input-group-append">
                    <span class="input-group-text" id="secondPass" style="cursor:pointer"><i class="ft-eye"></i></span>
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">تغیرول</button>
    </form>
</div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(document).ready(function () {
            $("#divAlert").delay(6000).fadeOut();
        })
        var pass1 = true;
        var pass2 = true;
        $("#firstPass").click(function () {
            if (pass1) {
                $("#NewPassword").attr("type", "text");
                pass1 = false
            } else {
                $("#NewPassword").attr("type", "password");
                pass1 = true
            }
        })
        $("#secondPass").click(function () {
            if (pass2) {
                $("#ConfirmPassword").attr("type", "text");
                pass2 = false
            } else {
                $("#ConfirmPassword").attr("type", "password");
                pass2 = true
            }
        })
    </script>
}
