
<div class="card">
    <div class="col-md-12 px-2 pt-1">
        <h2 class="text-center alert bg-yellow bg-darken-2 box-shadow-1" style="background-color:#ffffff;">د اخستل شویو او خرڅ شویو اجناسو مکمل تفصیل</h2>
    </div>
    @await Html.PartialAsync("~/views/Purchase/_StockItemPurchasedPartial.cshtml")

</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
   
}
