
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center alert alert-info" dir="ltr">
        <label class="text-bold-700" style="color:red;font-size:50px;font-style:italic">Q</label>&nbsp;<label style="color:blue;font-size:x-large">Links ICT</label> <label style="color:red;font-size:xx-large">Solutions</label>
    </div>
    <div class="row match-height">
        <div class="col-xl-4 col-md-4 col-sm-6">
            <div class="card" style="height: 320px;">
                <div class="card-content">
                    <div class="col-md-12 text-bold-400 text-center" style="margin-top:10px;margin-bottom:-20px;font-size:x-large">
                        <label style="font-style:oblique;">Assistant</label>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="card-img img-fluid mb-2" style="height:100%;width:100%;border-radius:30px" src="~/Images/Developers/hiz.jpg" alt="Card image cap">
                        </div>
                        <div dir="rtl" style="font-size:large">
                            <div class="card-text float-right">
                                Name:&nbsp;<a href="https://www.facebook.com/hizbullah.karwan" target="_blank" style="color:blue">Hizbullah Karwan</a>
                            </div><br />
                            <div class="card-text float-right">
                                <label style="color:blue">hizbullahkarwan19@gmail.com</label> :Email
                            </div>
                            <div class="card-text float-right">
                                <label style="color:blue">0093786890217</label> :WhatsApp
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-6">
            <div class="card" style="height: 320px;">
                <div class="card-content">
                    <div class="col-md-12 text-bold-400 text-center" style="margin-top:10px;margin-bottom:-20px;font-size:x-large">
                        <label style="font-style:oblique;">Full Stack Web Developer</label>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="card-img img-fluid mb-2" style="height:100%;width:100%;border-radius:30px" src="~/Images/Developers/zabi.jpg" alt="Card image cap">
                        </div>
                        <div dir="rtl" style="font-size:large">
                            <div class="card-text float-right">
                                Name:&nbsp;<a href="https://www.facebook.com/zabihullah.hamdard.73"target="_blank" style="color:blue">Zabihullah Hamdard</a>
                            </div><br />
                            <div class="card-text float-right">
                                <label style="color:blue">zabih036@gmail.com</label> :Email
                            </div>
                            <div class="card-text float-right">
                                <label style="color:blue">0093787854378</label> :WhatsApp
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card" style="height: 320px;">
                <div class="card-content">
                    <div class="col-md-12 text-center" style="margin-top:10px;margin-bottom:-20px;font-size:x-large">
                        <label style="font-style:oblique">Software Engineer</label>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="card-img img-fluid mb-2" style="height:100%;width:100%;border-radius:30px" src="~/Images/Developers/Aman.jpg" alt="Card image cap">
                        </div>
                        <div dir="rtl" style="font-size:large">
                            <div class="card-text float-right">
                                Name:&nbsp;<a href="https://www.facebook.com/amanullah.saeed.3" style="color:blue">Amanullah Saeed</a>
                            </div><br />
                            <div class="card-text float-right">
                                <label style="color:blue">saeedarab29@gmail.com</label> :Email
                            </div>
                            <div class="card-text float-right">
                                <label style="color:blue">0093789684477</label> :WhatsApp
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-xl-4 col-md-4 col-sm-6">
            <div class="card" style="height: 320px;">
                <div class="card-content">
                    <div class="col-md-12 text-center" style="margin-top:10px;margin-bottom:-20px;font-size:x-large">
                        <label style="font-style:oblique">Dean</label>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <img class="card-img img-fluid mb-2" style="height:100%;width:100%;border-radius:30px" src="~/Images/Developers/Qaderi.jpg" alt="Card image cap">
                        </div>
                        <div dir="rtl" style="font-size:large">
                            <div class="card-text float-right">
                                Name:&nbsp;<a href="https://www.facebook.com/redwanullah.qaderi"target="_blank" style="color:blue">Redwanullah Qaderi</a>
                            </div><br />
                            <div class="card-text float-right">
                                <label style="color:blue">redwanullah.q144@gmail.com</label> :Email
                            </div>
                            <div class="card-text float-right">
                                <label style="color:blue">0093788500676</label> :WhatsApp
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
