
@model BankViewModel


<div class="modal-content user-view">
    <div class="modal-header bg-primary white">
        <h4 class="modal-title" id="myModalLabel100">بانک / صراف راجستر کول </h4>
    </div>
    <div class="modal-body">
        <form asp-controller="Dealer" data-ajax="true" asp-action="BankRegistration" data-ajax-success="funSuccessBank(data)" method="post" id="frmBank">
            <div class="row col-md-12 align-items-end justify-content-center pt-2">

                <input hidden asp-for="BankId" value="0" />

                <div class="form-group">
                    <label class="">بانک / صراف نوم:</label>
                    <input asp-for="NameB" class="form-control" />
                    <span asp-validation-for="NameB" class="text-danger"></span>
                </div>
                &nbsp;&nbsp;
                <div class="form-group">
                    <label class="">موبایل:</label>
                    <input asp-for="PhoneB" class="form-control" />
                    <span asp-validation-for="PhoneB" class="text-danger"></span>
                </div>
                &nbsp;&nbsp;
                <div class="form-group">
                    <label class="">آدرس:</label>
                    <input asp-for="AddressB" class="form-control" />
                    <span asp-validation-for="AddressB" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2 user-insert">
                    <button type="submit" id="btnSubmitBank" class="btn btn-primary btn-icon-md">ذخیره</button>
                    <button type="reset" id="btnResetBank" class="btn btn-warning btn-icon-md">پاکول</button>
                </div>
            </div>
        </form>
        <section id="">
            <table class="table table-responsive-md table-striped table-condensed table-bordered dataTables_scrollHead" id="tblbanks">
                <thead class="scrollable-container ps--scrolling-x">
                    <tr role="row">
                        <th style="max-width:1%;">#</th>
                        <th class="col-md-1">بانک / صراف نوم</th>
                        <th class="col-md-1">موبایل </th>
                        <th class="col-md-1">آدرس</th>
                        <th class="col-md-1">حالت </th>
                        <th style="max-width:1%;" class=" user-edit">  تغیرول</th>
                        <th style="max-width:1%;" class=" user-delete">حذف</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>

    </div>
</div>

<form data-ajax="true" asp-action="DeleteBank" data-ajax-method="post" asp-controller="Dealer" data-ajax-success="deletedBank(data)">
    <input hidden  id="bankId" name="bankId" />
    <button type="submit" class="d-none" id="btnDeleteBank"></button>
</form>

<form data-ajax="true" asp-action="LockBankAccount" data-ajax-method="post" asp-controller="Dealer">
    <input hidden id="BankToLockb" name="BankId" />
    <input hidden id="tfb" name="trueFalse" />
    <button type="submit" class="d-none" id="btnLockb"></button>
</form>

<script>
    $(document).ready(function () {
        LoadBanks();
    })

    function LoadBanks() {
        $.ajax({
            url: "/Dealer/FetchBanks/",
            contentType: "application/json",
            datatype: "JSON",
            success: function (result) {

                var trr = "";
                $.each(result, function (i, col) {
                    var clss = "";
                    var spns = "";
                    if (col.status == "Unlocked") {
                        clss = "btn-primary";
                        spns = "fa fa-unlock";

                    } else {

                        clss = "btn-danger";
                        spns = "fa fa-lock";
                    }

                    trr += '<tr  role="row">' +
                        '<td >' + (i + 1) + '</td>' +
                        '<td >' + col.name + '</td>' +
                        '<td>' + col.phone + '</td>' +
                        '<td >' + col.address + '</td>' +
                        '<td ><button onclick="fnToggleBtnLockb(' + i + ',\'' + col.bankId + '\')" id=b' + i + ' class="btn btn-float btn-round btn-float-md   ' + clss + '"><i id="spanb' + i + '" class="' + spns + '" ></i></button></td>' +
                        ' <td  class="user-edit"><button type="button" onclick="fnEditBank(' + col.bankId + ',\'' + col.name + '\',\'' + col.address + '\',\'' + col.phone + '\')" class="btn btn-primary"><i class="fa fa-edit"></i></button></td>' +
                        ' <td  class="user-delete"><button type="button" onclick="fnDeleteBank(' + col.bankId + ')" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>' +
                        '</tr>';

                })
                var table = $("#tblbanks").dataTable();
                table.fnDestroy();
                $("#tblbanks>tbody").html("").html(trr);

                $("#tblbanks").DataTable({
                    stateSave: true,
                    "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "ټول"]],
                    "pageLength": 5,
                    "language": {
                        "emptyTable": "په جدول کې معلومات شتون نه لري",
                        "info": "د <b>( _START_  )</b> تر <b>( _END_  )</b> د <b>( _TOTAL_ )</b> ریکاروډونو څخه."
                        ,
                        "infoFiltered": "( <b>( _MAX_ )</b> ریکارډونه شتون لرې )",
                        "lengthMenu": "ښودل_MENU_ ریکارډونو",
                        "search": "پلټنه<span class='fa fa-search'></span> ",
                        "searchPlaceholder": "پلټنه",
                        "zeroRecords": "پدی نوم هیڅ ریکارډ پیدا نشو ",
                        "paginate": {
                            "first": "لومړۍ پاڼه",
                            "previous": "مخکې",
                            "next": "وروسته",
                            "last": "پای"
                        },
                    },

                });
            }
        })
    }

    function fnToggleBtnLockb(i, BankId) {
        if ($("#b" + i).hasClass("btn-danger")) {
            $("#tfb").val("unlock");
            $("#BankToLockb").val(BankId);
            $("#btnLockb").trigger("click");
            $("#b" + i).removeClass("btn-danger").addClass("btn-primary");
            $("#spanb" + i).removeClass("fa fa-lock").addClass("fa fa-unlock");

        } else {
            $("#tfb").val("lock");
            $("#BankToLockb").val(BankId);
            $("#btnLockb").trigger("click");
            $("#b" + i).removeClass("btn-primary").addClass("btn-danger");
            $("#spanb" + i).removeClass("fa fa-unlock").addClass("fa fa-lock");

        }
    }

    function funSuccessBank(data) {
        LoadBanks();
        $("#frmBank")[0].reset();
        toast(data, 'success');
        $("#btnSubmitBank").text("ذخیره");
    }

    function fnEditBank(id, name, address, phone) {

        $("#BankId").val(id);
        $("#NameB").val(name);
        $("#AddressB").val(address);
        $("#PhoneB").val(phone);

        $("#btnSubmitBank").text("تغیرول");
    }

    function fnDeleteBank(comId) {
        $("#bankId").val(comId);
        swal({
            title: "آیا غواړی چې نوموړی ریکارډ حذف شې؟",
            text: "",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "نه",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "هو",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: true
                }
            }

        }).then((isConfirm) => {
            if (isConfirm) {
                $("#btnDeleteBank").trigger("click");
            }
        });

    }

    function deletedBank(data) {
        toast(data, 'success');
        LoadBanks();
    }

    $("#btnResetBank").click(function () {
        $("#btnSubmitBank").text("ذخیره");
    })
</script>
